* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #f1cbb0, #dbb28b);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 25px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
}

.recipes {
    min-height: 90vh;
    width: 80%;
    display: flex; 
    align-items: center;    
    justify-content: space-evenly;   
    text-align: center;
}

.card1 {
    background: linear-gradient(
        to right bottom,
        rgba(223, 213, 213, 0.7),
        rgba(241, 218, 198, 0.8));
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px;
    height: 700px;
    width: 400px;
    padding: 50px;
    transition: 
    background-color 0.5s ease-out 50ms, 
    width 0.5s ease-out 50ms,
    height 0.5s ease-out 50ms;

}

.card1:hover {
    height: 750px;
    width: 450px;
    background-color: white;
    
}

.card2 {
    background: linear-gradient(
        to right bottom,
        rgba(223, 213, 213, 0.7),
        rgba(241, 218, 198, 0.8));
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px;
    height: 700px;
    width: 400px;
    padding: 50px;
    transition: 
    background-color 0.5s ease-out 50ms, 
    width 0.5s ease-out 50ms,
    height 0.5s ease-out 50ms;
}

.card2:hover {
    height: 750px;
    width: 450px;
    background-color: white;
}

.card3 {
    background: linear-gradient(
        to right bottom,
        rgba(223, 213, 213, 0.7),
        rgba(241, 218, 198, 0.8));
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px;
    height: 700px;
    width: 400px;
    padding: 50px;
    transition: 
    background-color 0.5s ease-out 50ms, 
    width 0.5s ease-out 50ms,
    height 0.5s ease-out 50ms;
}

.card3:hover {
    height: 750px;
    width: 450px;
    background-color: white;
}

.potato {
    width: 300px;
    height: auto;
    border-radius: 20px;
}

.choco {
    width: 300px;
    height: auto;
    border-radius: 20px;
}

.orange {
    width: 300px;
    height: auto;
    border-radius: 20px;
}

.card-content {
    font-family:'Thasadith', sans-serif;
}