* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #f1cbb0, #dbb28b);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 25px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    background-color: #95bde1;
    color: rgb(252, 218, 132);
    border-style: groove;
    border-width: 5px;
    border-color: linear-gradient(to right top, #85c0f3, #6cb7f8);
}

.recipes {
    min-height: 90vh;
    width: 80%;
    display: flex; 
    align-items: center;    
    justify-content: space-evenly;   
    text-align: center;
}

/* This section contains the styling for the individual recipe cards
A big part of it is the transition animation which is very fun to play
around with. The key thing here is to add a condition for when the mouse
hovers over the specified div, as we can see below (ex .card1:hover) */

.card1 {
    background: linear-gradient(
        to right bottom,
        rgba(248, 172, 85, 0.6),
        rgba(253, 187, 111, 0.5));
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px;
    height: 700px;
    width: 400px;
    padding: 40px;
    box-shadow: 4px 4px 14px;
    transition: 
    background-color 0.5s ease-out 50ms, 
    width 0.5s ease-out 50ms,
    height 0.5s ease-out 50ms;
}

.card1:hover {
    height: 730px;
    width: 430px;
    background-color: white;
}

.card2 {
    background: linear-gradient(
        to right bottom,
        rgba(248, 172, 85, 0.6),
        rgba(253, 187, 111, 0.5));
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px;
    height: 700px;
    width: 400px;
    padding: 40px;
    box-shadow: 4px 4px 14px;
    transition: 
    background-color 0.5s ease-out 50ms, 
    width 0.5s ease-out 50ms,
    height 0.5s ease-out 50ms;
}

.card2:hover {
    height: 730px;
    width: 430px;
    background-color: white;
}

.card3 {
    background: linear-gradient(
        to right bottom,
        rgba(248, 172, 85, 0.6),
        rgba(253, 187, 111, 0.5));
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px;
    height: 700px;
    width: 400px;
    padding: 50px;
    box-shadow: 4px 4px 14px;
    transition: 
    background-color 0.5s ease-out 50ms, 
    width 0.5s ease-out 50ms,
    height 0.5s ease-out 50ms;
}

.card3:hover {
    height: 730px;
    width: 430px;
    background-color: white;
}

.potato {
    width: 300px;
    height: auto;
    border-radius: 20px;
}

.choco {
    width: 300px;
    height: auto;
    border-radius: 20px;
}

.orange {
    width: 300px;
    height: auto;
    border-radius: 20px;
}

.card-content {
    font-family:'Thasadith', sans-serif;
}

/* This next one is important! It effectively disables any 
unwanted styling of the text due to the parent div containing 
a link to other pages. The text will remain black and won't have
that unappealing link text look with the underline and blue color */

a:link, a:visited, a:hover, a:active {
    border:none;
    outline:none;
    text-decoration:none;
    color:black;
  }

  /* The following section contains the styling for the two divs for the individual recipes template */

.left {
    min-height: 150vh;
    width: 80%;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly;   
    text-align: left;
    padding-top: 30px;
}

.right {
    min-height: 140vh;
    width: 80%;
    display: flex; 
    align-items: top;    
    justify-content: left;   
    text-align: left;
}

/* Right side content styling */

.right-content {
    height: 700px;
    width: 500px;
    padding: 10px;
}

.right-content h1 {
    font-size: 5rem;
    font-weight: bold;
}

.right-content p {
    font-size: 1.3rem;
}

.right-content h2 {
    font-size: 2rem;
}

.right-content ol {
    font-size: 1.2rem;
}

.right-content h3 {
    font-size: 1.7rem;
}

.right-content ul {
    font-size: 1.1rem;
    list-style-type: square;
}

/* Left side content styling */

.photo {
    width: 600px;
    height: 800px;
    border-radius: 20px;
}

.left-content2 {
    position: relative;
    bottom: 120px;
}

.left-content h2 {
    font-size: 2rem;
}

.left-content2 h2 {
    font-size: 2rem;
}

.left-content h3 {
    font-size: 1.7rem;
}

.left-content2 h3 {
    font-size: 1.7rem;
}

.left-content ul {
    font-size: 1.1rem;
    list-style-type: none;  
}

.left-content2 ul {
    font-size: 1.1rem;
    list-style-type: none;  
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: white;
    margin-top: 100px;
}





